version: 2.1

jobs:
  test_without_db:
    working_directory: ~/repo
    docker:
      - image: cimg/node:16.15-browsers

    steps:
      - checkout
      - run: yarn
      - run: yarn test

  test_with_db:
    working_directory: ~/repo
    docker:
      - image: cimg/node:16.15-browsers
      - image: circleci/dynamodb

    steps:
      - checkout
      - run: yarn
      - run: yarn test

workflows:
  version: 2
  build_and_test:
    jobs:
      - test_with_db
      - test_without_db
